body{
    background-color: #e741b3;
}
button{
    background-color: darkslateblue;
    width: 70px;
    height: 30px;
    border-radius: 70px;
    border: unset;
}
button:hover{
    background-color: aqua;
}
input{
    background-color: #e8e7ee;
    width: 150px;
    height: 20px;
}